.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    margin-left: 100px;
    margin-right: 150px;
    text-align: center;
  }
  
  .feature-card {
    border-radius: 8px;
    text-align: center;
    padding-left: 50px;
  }
  
  .feature-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    border: 1px solid grey;
    border-radius: 15px;
    width: 60px;
    margin-left: 150px;
  }
  
  .feature-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .feature-description {
    font-size: 0.95rem;
    color: #666;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .features-grid {
        width: 330px;
        margin-left: 20px;
        margin-right: 20px;
        gap: 30px;
    }
    .feature-card {
        padding-left: 0;
    }
    .feature-icon {
        font-size: 1.5rem;
        width: 50px;
    }
    .feature-title {
        font-size: 1.1rem;
    }
    .feature-description {
        font-size: 0.9rem;
    }
}
@media (max-width: 480px) {
    .features-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .feature-icon {
        font-size: 1.2rem;
        width: 40px;
    }
    .feature-title {
        font-size: 1rem;
    }
    .feature-description {
        font-size: 0.85rem;
    }
}