.faq-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }
  .faq-item {
    width: 720px;
    margin: 10px 0;
    padding: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 250px;
    background: #f9f9f9;
    transition: all 0.3s ease;
    border-bottom: 1px solid #ddd;
  }
  .faq-item.active {
    background: #f8f8f8;
  }
  .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
  }
  .faq-question span {
    transition: transform 0.3s ease;
  }
  .faq-answer {
    margin-top: 10px;
    font-size: 16px;
    font-weight:500;
    line-height: 1.5;
    color: #333;
  }
  .action{
    border: 2px solid rgb(185, 184, 184);
    border-radius: 50%;
    width: 30px;
    text-align: center;
    color: rgb(185, 184, 184);
  }
  .faq-item:not(.active) .faq-question span:last-child {
    transform: rotate(0deg);
  }
  .faq-item.active .faq-question span:last-child {
    transform: rotate(180deg);
  }
  
  @media (max-width: 768px) {
    .faq-container {
        width: 90%;
    }

    .faq-item {
        width: 100%;
        margin-left: 0; 
        padding: 15px;
    }

    .faq-question {
        font-size: 16px; 
    }

    .faq-answer {
        font-size: 14px; 
    }

    .action {
        width: 28px; 
        height: 28px; 
    }
}


@media (max-width: 480px) {
    .faq-container {
      width: 330px;
        width: 100%; 
        padding: 0 10px;
    }

    .faq-item {
        width: 80%; 
        padding: 12px; 
        margin-left: 0; 
    }

    .faq-question {
        font-size: 14px;
    }

    .faq-answer {
        font-size: 12px; 
    }

    .action {
        width: 25px;
        height: 25px; 
    }
}