.testimonial-section {
    margin-top: 50px;
    padding: 5rem 2rem;
    text-align: center;
    background-color: #f9f9f9;
  }
  .sisypus-icon{
    width: 23px;
  }
  .sisypus-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 660px;
    margin-bottom: 1rem;
  }
  .logo-text {
    font-size: 25px;
    padding-top: 10px;
    font-weight: bold;
    color: #242424;
    margin-left: 0.5rem;
  }
  .testimonial-text {
    font-size: 45px;
    margin-top: 20px;
    max-width: 1300px;
    padding-left: 170px;
    color: #000000;
    font-weight: bold;
    line-height: 1.6;
  }
  .testimonial-author {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
  .author-image {
    border: 1px solid rgb(196, 196, 196);
    background-color: rgb(214, 214, 214);
    width: 60px;
    border-radius: 50%;
  } 
  .author-name {
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
    color: #000000;
  }
  .author-title {
    font-size: 14px;
    color: #666;
  }

  @media (max-width: 768px) {
    .testimonial-text {
        font-size: 30px;
        padding: 0 20px;
    }

    .sisypus-logo {
        margin-left: 0; 
    }

    .logo-text {
        font-size: 20px;
    }

    .testimonial-author {
        flex-direction: column;
    }

    .author-name {
        font-size: 14px;
    }

    .author-title {
        font-size: 12px;
    }
}


@media (max-width: 480px) {
    .testimonial-section {
        padding: 2rem 1rem;
    }

    .testimonial-text {
        font-size: 24px;
        line-height: 1.4;
    }

    .logo-text {
        font-size: 18px;
    }

    .testimonial-author {
        gap: 5px;
    }

    .author-image {
        width: 50px;
    }

    .author-name {
        font-size: 12px;
    }

    .author-title {
        font-size: 10px;
    }
}