.container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin-top: 80px;
  max-width: 900px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.new-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  border: 2px solid rgba(238, 132, 94, 0.415);
  border-radius: 20px;
  width: 370px;
  margin-left: 250px;
  background-color: rgba(246, 153, 119, 0.099);
}

.new-feature span {
  color: #ff5733;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid rgba(255, 68, 0, 0.236);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
}

.feature-link {
  color: #ff5733;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.description {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
  margin-top: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 50px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}

.demo-btn {
  border: 1px solid #ccc;
}

.demo-btn img {
  padding-right: 5px;
}

.demo-btn:hover {
  border: 1px solid #ccc;
}

.signup-btn {
  background-color: #ff5733;
  color: #fff;
}

.signup-btn:hover {
  background-color: #7904c7;
  color: #fff;
}

.video-icon {
  width: 25px;
}
.testmyskills{
  width: 1216px;
  height: 510px;
  border-top: 7px solid black;
  border-right: 7px solid black;
  border-left: 7px solid black;
  border-radius: 20px;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}
.section {
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  .description {
    font-size: 14px;
  }
  .buttons {
    display: grid;
  }
  .btn {
    width: 300px;
    font-size: 16px;
    padding: 10px 16px;
  }

  .new-feature {
    border-color: #b954fc;
    margin: 20px;
    width: 290px;
  }

  .new-feature span {
    font-size: 12px;
    border-color: #b954fc;
  }
  .feature-link {
    font-size: 12px;
  }
  .testmyskills{
    width: 400px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
  h1 {
    font-size: 36px;
  }
  .description {
    font-size: 22px;
  }
  .section{
    margin: 0;
    padding-left: 30px;
    padding-top: 30px;

  }
  .testmyskills{
    width: 300px;
    height: auto;
    border: 7px solid black;
    border-radius: 10px;
  }
  .video-icon{
    width: 35px;
  }
  .buttons{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 25px;
  }
  .btn {
    font-size: 24px;
    padding: 8px 12px;
  }
}