.divider {
    width: 80%;
    height: 1px;
    background-color: #ecebeb; 
    margin-left: 150px;
    margin-bottom: 50px; 
  }
  @media (max-width: 480px) {
    .divider { 
      width: 80%;
      margin-left: 40px;
      border-top: 1px solid #ecebeb; 
    }
  }