.blog-cards-container {
    display: flex;
    margin-left: 140px;
    width: 1350px;
  }
  .blog-card {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 700px;
  }
  .blog-image {
    width: 368px;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
  .blog-category {
    color: red;
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 20px;
    font-weight: 500;
  }
  .blog-title {
    font-size: 26px;
    color: #1a1a1a;
    padding-top: 10px;
  }
  .arrow {
    font-size: 30px;
    color: #1a1a1a;
    padding-left: 30px;
  } 
  .blog-description {
    font-size: 16px;
    padding-right: 50px;
    color: #6c757d;
    margin-bottom: 1rem;
  }
  .blog-meta {
    display: flex;
    align-items: center;
  }
  .author-avatar {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-right: 0.75rem;
  }
  .author-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 45px;
  }
  .post-date {
    margin-top: 5px;
    font-size: 12px;
    color: #6c757d;
  }
  
  @media (max-width: 768px) {
    .blog-cards-container {
        margin-left: 0;
        width: 100%; 
        justify-content: center; 
    }

    .blog-card {
        width: 100%; 
        margin: 20px 0; 
    }

    .blog-image {
        width: 100%;
        height: 200px; 
    }

    .blog-title {
        font-size: 22px; 
    }

    .blog-description {
        font-size: 14px; 
        padding-right: 20px;
    }

    .arrow {
        font-size: 24px;
    }
}
@media (max-width: 480px) {
    .blog-cards-container {
        flex-direction: column;
        width: 320px;
        margin-left: 28px;
    }
    .blog-card {
        width: 100%; 
        margin-bottom: 20px; 
    }
    .blog-image {
        width: 100%;
        height: 180px; 
    }
    .blog-title {
        font-size: 20px; 
    }
    .blog-description {
        font-size: 14px; 
        padding-right: 10px; 
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .arrow {
        font-size: 24px;
    }
    .author-avatar{
      margin-top: 10px;
    }
}