.blog-section {
    padding: 20px;
    padding-top: 30px;
    max-width: 1200px;
    margin-left:120px
  }
  .blog-post{
    display: flex;
  }
  .blog-header {
    color: red;
    font-size: 18px;
    padding-top: 18px;
  }
  .blog-title {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
    color: #1a1a1a;
  }
  .blog-subtitle {
    font-size: 20px;
    color: #6c757d;
    margin-bottom: 1.5rem;
  }
  .view-posts-button {
    background-color: #ff4c4c;
    color: #fff;
    margin-left: 900px;
    border: none;
    font-size: 18px;
    padding:12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    cursor: pointer;
  }
  .view-posts-button:hover {
    background-color: #6600a6;
  }
  
  @media (max-width: 768px) {
    .blog-section {
        padding: 20px;
        margin-left: 0; 
    }

    .blog-title {
        font-size: 32px;
        text-align: left; 
    }
    .blog-subtitle {
        font-size: 18px; 
        text-align: center; 
    }

    .view-posts-button {
        margin: 20px auto 0; 
        display: block;
        width: auto;
        font-size: 16px; 
    }
}
@media (max-width: 480px) {
    .blog-section {
        padding: 10px;
        padding-left: 25px;
        padding-right: 30px;
    }
    .blog-title { 
      text-align: left;
    }
    .blog-subtitle {
        font-size: 16px; 
        text-align: left; 
    }
    .view-posts-button {
        font-size: 14px; 
        padding: 6px 14px;
        margin-left:130px;
    }
}